#about {
  background: url('../img/about.jpg') center center fixed;
  background-size: cover;
  color: $lightestBlue;
  min-height: calc(100% - 100px);
  padding: 15px;

  h1 {
    text-align: center;
  }
}
